
h1 { 
   color: aqua;
   text-align: center;
}
h2 {color: white}
.div1{
   color: white;
}
img { float: right}
body {background-color: black
}
.div2{
   color: white;
}
#div1-id{
   color: white;
   position: absolute;
   right: 2%;
}